<!-- app/views/welcome/index.html.erb -->
<div class="container">
  <div class="content">
    <h1>Bienvenue sur Joola</h1>
    <p>Découvrez et profitez d'une large gamme de nouvelles audio de tout genres.</p>
    <a href="<%= new_user_registration_path %>" class="btn btn-primary">Commencer</a>
  </div>
</div>
